<%- include("inc/header") %>
<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->
        <!-- Icon -->
        <div class="fadeIn first">
            <img src="/images/logo.png" id="icon" alt="User Icon" width="100px" style="padding: 5%;" />
        </div>
        <% if (messages.error) { %>
            <div class="alert alert-danger alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <strong><%= messages.error %></strong>
            </div>
        <% } %>
        <!-- Login Form -->
        <form action="/admin/register" method="POST">
            <input type="text" id="login" class="fadeIn second" name="fullname" placeholder="fullname">
            <input type="text" id="login" class="fadeIn second" name="emailid" placeholder="emailid">
            <input type="password" id="password" class="fadeIn third" name="password" placeholder="password">
            <input type="submit" class="fadeIn fourth" value="Register">
        </form>
        <a href="/">Login</a>
        <br><br>
        <!-- Remind Passowrd -->
        <!-- <div id="formFooter">
            <a class="underlineHover" href="#">Forgot Password?</a>
        </div> -->

    </div>
</div>
<%- include("inc/footer") %>